<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% extends 'base.html' %}

<div class="container-fluid">
    <form method="POST" class="form-group" action="">
        {% csrf_token %}
        <label>Username</label>    {{ registerform.username }}<br>
        <label>Password</label>    {{ registerform.password1 }}<br>
        <label>Re-enter Password</label>    {{ registerform.password2 }}<br>
        <label>Email</label> {{ registerform.email }}<br>


        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>